*{
	margin: 0;
	padding: 0;
}
#box1{
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	left: 0;
}
#box2{
	width: 100px;
	height: 100px;
	background-color:yellow ;
	position: absolute;
	top: 200px;
	left: 0;
}
